<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{{ request.user }}


<div>
    <form action="#" method="post">
        <p>Envoyer notification push + changement temps réelle à l'utilisateur</p>
        <button type="submit" name="push" value="push">Envoyer</button>
    </form>
</div>